*{
  padding: 0px;
  margin: 0px;
}

.box{
	width : 50px;
	height: 50px;
	position: absolute;
  dss-left: mouseX-25;
  top: ||mouseY-25||;
  z-index: 999;
}

.box:dss{
  background: companyColor:red;
}
