.box{
	background: ||companyColor:red||;
	width : 50px;
	height: 50px;
	position: absolute;
	top: ||dss.bounds(0,windowHeight-50)(mouseY-25)||px;
	left: ||dss.bounds(0,windowWidth-50)(mouseX-25)||px;
}